.ct-header__toolbar{
  font-size: 0.75rem;
  text-align: right;
}
.ct-header{
  width: 100%;
  flex-grow: 0;
  padding: 2.5rem 0 3.625rem;
  position: relative;
  z-index: 4;

  @include media-breakpoint-up(sm) {
    @include pseudo-block( 'after', 'top', 0.075, false, 0, 0, 0 );
  }

  &__logo-nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @include media-breakpoint-up(xl) {
      flex-wrap: nowrap;
    }

  }

  @at-root .ct-menu--floating &{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__wrapper{

    @include media-breakpoint-up(sm) {
      &--stuck{
        position: fixed;
        z-index: 999;
        padding: 0;
        top:0;
        left: 0;
        right: 0;
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0);

        &::before{
          content: '';
          display: block;
          background-color: currentColor;
          opacity: 0.035;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
        }

        .ct-header__toolbar{
          display: none;
        }
        .admin-bar &{
          top: 2rem;
        }
        #ct-main-nav{
          padding-top: 1rem;
          padding-bottom: 1rem
        }
        .ct-header__logo-nav{
          padding: 0;
        }

        &::after{
          opacity: 0;
        }
      }
      &--shadow{
        box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

}
.ct-header__logo-nav{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@import '_header.navigation';

.ct-logo{
    margin: 0;
    line-height: 1;
    transition: all 200ms ease;
    display: inline-block;

    @media(min-width: 48em){
      margin: 0;
      flex-grow: 0;
      flex-shrink: 0;
    }
    span{
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: -1px;
    }
    small{
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      opacity: 0.7;
      font-size: 0.6875rem;
      position: relative;

      @media(min-width: 48em){
        transform: translateY(-40%);
        display: inline-block;
        margin-left: 1.5rem;
      }
    }
    &:hover{
      text-decoration: none;
    }
    img{
      transition: all 200ms ease;
    }

    &__image{

      &--sticky{
        display: none;
      }
      &--inverted{
        display: none;
      }

      @at-root
      .ct-menu--inverted &{
        &--inverted{
          display: block;

          & + .ct-logo__image{
            display: none;
          }
        }
      }

      @at-root
      .ct-header__wrapper--stuck &{

        @include media-breakpoint-up(sm) {
          &:not(.ct-logo__image--sticky){
            transform: scale(0.75);
            transform-origin: center left;
          }



          &--sticky{
            display: block;
          }
          &--sticky + .ct-logo__image,
          &--sticky + .ct-logo__image + .ct-logo__image{
            display: none;
          }

          &--inverted:first-child{
            display: none;
          }
          &--inverted:first-child + .ct-logo__image{
            display: block;
          }
        }
      }

    }
}

.wpml-switcher{
  text-transform: uppercase;
  font-weight: bold;

  span{
    display: inline-block;

    &:not(:first-child){
      margin-left: .75rem
    }
  }

  .active{
    position: relative;
    padding-right: 3rem;
    padding-left: 0.25rem;
    color: inherit;

    @include pseudo-block( 'after', 'top', 1, 45%, 0, false, 0 );

  }

  a{
    text-decoration: none;
  }
}
