.xtd-carousel-mini{
  .owl-carousel{
    flex-basis: 100%;
    margin-right: 0;
    max-width: none;
  }
  .owl-stage-outer{
    border-radius: 0;
  }
}
.xtd-shadow--normal-hard{
  margin-bottom: 4rem;
}


body .xtd-offset-frame{
  &::before{
    background-color: currentColor;
    opacity: 0.15 !important;
    transform: rotate(-12.5deg);
    left: 0;
    right: 0;
    bottom: 0;
  }
  .vc_single_image-wrapper,
  & > img{
    margin: 0 !important;
  }
}

.xtd-person{
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
  transition: all 120ms ease;

  img,
  .xtd-person__image{
    transition: all 120ms ease;
  }

  a, a:hover{
    text-decoration: none;
  }

  &:hover{
    transform: translateY(-7.5%);

    .xtd-person__image.xtd-shadow--normal-light{
      box-shadow: 1.45rem 1.75rem 1.75rem 0rem rgba(0, 0, 0, 0.32) !important;
    }

    .xtd-person__image{
      background-color: currentColor;
    }
    img{
      opacity: 0.45
    }
  }



  &__title.h2{
    font-size: 140%;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 0;

    span.h4{
      display: block;
      margin-top: .5rem;
      font-weight: normal;
      letter-spacing: 1px;
      font-size: .7rem;
    }
  }

}
