/*
Thame Name: wp-artbyrothstein-theme
Theme URI: https://github.com/The-Commodore-Designs-Dev/wp-artbyrothstein-theme
Text Domain: ArtByRothstein
Version: 1.0
Description: Theme for an artist to display oil paintings
Tags: responsive, oil-painting, e-commerce
Author: Gregory Rothstein
Author URI: https://www.gregorypaulrothstein.dev
*/