@media (prefers-reduced-motion: reduce) {
    .social-list a {
        transition: none
    }
    .btn {
        transition: none
    }
}

@media (min-width: 768px) {
    #footer-navigation {
        flex-direction: column;
    }

    #footer-navigation .menu-item:not(:last-child) {
        margin-right: 3.25rem;
    }   
    
    #footer-navigation .menu-item {
        width: auto;
    }   
}

@media (max-width: 991.98px) {
    .page-title {
        position:static;
    }
    .header {
        position: sticky;
        width: inherit;
        height: auto
    }

    .header .site-title {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem;
        color:var(--white);
        font-size:1.5em;
        display:block;
    }

    .header .btn-primary {
        width: 100%
    }

    .header .navbar {
        padding: 1rem
    }

    .main-wrapper {
        margin-left: 0
    }
}

@media (max-width: 767.98px) {
    
}

@media (min-width: 992px) {
    #footer-navigation {
        text-align: left;
    }
    
    #footer-navigation .menu-item:not(:last-child) {
        margin-right: 4.25rem;
    }
    
    #footer-navigation .menu-item {
        width: auto;
    }    
}

@media (min-width: 1024px) {
    #footer-navigation a {
        width: 50%;
    }
}

@media (min-width: 576px) {
    #absolute-footer {
        padding-bottom: 4rem;
    }
    
    #footer-navigation .menu {
        width: auto;
        font-size: .75em;
    }
    
    #footer-navigation .menu-item:not(:last-child) {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 2.25rem;
    }
    
    #footer-navigation .menu-item {
        width: auto;
    }        
}